<h1>Our Mission</h1>
<h2>Mission</h2>
Our mission is to promote integration of evidence-based psychological services in inpatient psychiatric settings.
<h2>Vision</h2>
The Inpatient Psychological Care Collaborative (IPCC) will achieve its mission by:

<h3>Fostering Community</h3>
<ul>
    <li>We will provide a platform for practitioners of psychological interventions in inpatient psychiatric settings to share ideas, provide resources, lend support, and discuss strategies to improve the care of and outcomes for people hospitalized on inpatient psychiatric units.</li>
    <li>We will maintain a membership list of providers of psychological services in inpatient settings from which practitioners can reach out to one another for support and collaboration.</li>

</ul>

<h3>Expanding Access to Psychological Interventions</h3>

<ul>
    <li>We will maintain a repository of resources to facilitate measurement-based psychological care in the inpatient setting.</li>
    <li>We will provide pro bono consultation to practitioners and administrators working to promote the integration of evidence-based psychological interventions in the inpatient setting.</li>
</ul>

<h3>Advancing the Standard of Care in Inpatient Psychiatric Settings</h3>

<ul>
    <li>We will maintain a repository of research findings pertaining to the integration of psychological services in the inpatient setting.</li>
    <li>We will support and promote research into the integration of psychological services in the inpatient setting by advocating for allocation of research funding in this area, providing methodological and statistical consultation for researchers working on related research, and sharing individuals’ communications for the purpose of advancing their research on this topic.</li>
</ul>

<h2>Values</h2>
<ul>
    <li>We value the provision of evidence-based psychological services in inpatient psychiatric settings.</li>
    <li>We embrace people with diverse perspectives, viewpoints, experiences, and backgrounds.</li>
    <li>We support interdisciplinary collaboration and teamwork.</li>
    <li>We encourage the delivery of trauma-informed care.</li>
    <li>We promote innovative strategies for addressing the goals and needs of people hospitalized with psychiatric conditions.</li>
    <li>We treat patients with compassion, respect, and humility.</li>
    <li>We center the voices of people with lived experience of inpatient hospitalization and psychiatric care.</li>
    <li>We uphold principles of the scientific method as our ontological framework for determining what is evidence-based psychological care.</li>
    <li>We value open science practices that promote transparency and reproducibility.</li>
</ul>


<h3>Who is invited to join us?</h3>
Anyone with an interest in psychological interventions in the inpatient setting
