<h1 style="text-align: center; color: var(--primary-color)">Steering Committee</h1>


<div id="about-container">

    <div id="about-card-container">

        <div class="about-card">

            <img class="photo" src="images/adam.png" alt="">
            <p class="name">Adam Kuczynski, PhD</p>
            <p class="about-info">
                Dr. Adam Kuczynski is a clinical psychologist and Acting Assistant Professor at the University of Washington School of Medicine,
                Department of Psychiatry and Behavioral Sciences. He received his PhD from the University of Washington in 2023 after completing
                his pre-doctoral internship at the same institution, training in serious mental illness and inpatient care at Harborview
                Medical Center and psycho-oncology Fred Hutch Cancer Center. Dr. Kuczynski currently works at the UW's long-term civil
                commitment program and studies strategies to improve inpatient care for individuals with serious mental illness.
            </p>
    
        </div>  

        <div class="about-card">

            <img class="photo" src="images/alex.jpg" alt="">
            <p class="name">Alexandra Moussa-Tooks, PhD</p>
            <p class="about-info">
                Dr. Alexandra Moussa-Tooks is a clinical psychologist and Assistant Professor at Indiana University Bloomington
                (IUB). She received her dual PhD in Psychology and Neuroscience
                from IUB in 2021 after completing a pre-doctoral internship at Vanderbilt University Medical Center in the Early
                Psychosis Program. She studies sensorimotor processes and cerebellar system disturbances in psychotic disorder
                phenomenology. She is deeply committed to translational goals of her research, including applications for intervention,
                and understanding and rectifying racial bias in psychotic disorder assessment, diagnosis, and care,
                especially in the inpatient setting.
            </p>

        </div>

                <div class="about-card">
    
            <img class="photo" src="images/connor.png" alt="">
            <p class="name">Connor Adams, PsyD</p>
            <p class="about-info">
                Dr. Connor Adams is a psychologist and Clinical Assistant Professor who received her PsyD from the George Washington
                University and completed her internship training at Harvard Medical School/Cambridge Health Alliance. Her clinical
                and research interests center on therapeutic interventions that support recovery for individuals living with serious
                mental illness. Dr. Adams grounds her work in a psychodynamic perspective and has specialized training in
                Cognitive Behavioral Therapy for Psychosis (CBTp) and comprehensive Dialectical Behavior Therapy. She provides
                clinical services in both the inpatient and outpatient setting at Stanford Medical School.
            </p>
    
        </div>

        <div class="about-card">

            <img class="photo" src="images/awais.jpg" alt="">
            <p class="name">Awais Aftab, MD</p>
            <p class="about-info">
                Dr. Awais Aftab is a psychiatrist in Cleveland, OH, and a Clinical Assistant Professor of psychiatry at Case
                Western Reserve University. His academic, educational, and public-facing work focuses on conceptual and
                critical issues in the field. He has worked in the inpatient psychiatric setting with both civil and forensic
                patients. His first book, Conversations in Critical Psychiatry (2024), is an edited collection of interviews
                published by Oxford University Press. He is a senior editor for the journal “Philosophy, Psychiatry, & Psychology”
                and blogs online on his Substack newsletter
                <span style="font-style: italic;">Psychiatry at the Margins</span>. 
            </p>

        </div>
    
        <div class="about-card">
    
            <img class="photo" src="images/peter.png" alt="">
            <p class="name">Peter Phalen, PsyD</p>
            <p class="about-info">
                Dr. Peter Phalen is an Assistant Professor and clinical psychologist at the University of Maryland
                School of Medicine. His research focuses mostly on psychosis, suicide, and community mental health.
                He is the Principal Investigator on a grant from NIMH for a clinical trial of DBT skills training for people with psychotic
                disorders at high risk of suicide. Dr. Phalen is an expert in applied statistical methods and has
                substantial experience implementing clinical programs across various settings, including in
                inpatient psychiatry units.
            </p>
    
        </div>
    
        <div class="about-card">
    
            <img class="photo" src="images/xian.png" alt="">
            <p class="name">Xian Zhang, PsyD</p>
            <p class="about-info">
                Dr. Xian Zhang is a clinical psychologist with training in serious mental illness via inpatient care,
                psychiatric emergency rooms, partial hospitalization programs, and consult/liaison teams in public hospitals
                in Denver, Colorado and New York City, New York. She is passionate about improving trauma-informed inpatient
                care for marginalized populations who are navigating complex stressors and interpersonal dynamics, such
                as immigrant and BIPOC communities. She currently works in private practice in Seattle, Washington.
            </p>
    
        </div>      

    </div>

</div>