<img src="images/adam.png" alt="">
<p>
    Dr. Adam Kuczynski (he/him) is a clinical psychologist and acting assistant professor at the University of Washington School of Medicine.
He received his PhD from the University of Washington in 2023 after completing his pre-doctoral internship at the same institution,
training in serious mental illness and inpatient care at Harborview Medical Center and psycho-oncology Fred Hutch Cancer Center.
Dr. Kuczynski currently works at the UW's long-term civil commitment program and studies strategies to improve inpatient
care for individuals with serious mental illness.
</p>

<img src="images/connor.png" alt="">
<p>
    Dr. Connor Adams (she/they) is a Clinical Assistant Professor who received her PsyD from the George Washington University and completed her internship training at Harvard Medical School/Cambridge Health Alliance. Her clinical and research interests center on therapeutic interventions that support recovery for individuals living with serious mental illness. Dr. Adams grounds her work in a psychodynamic perspective and has specialized training in comprehensive Dialectical Behavior Therapy and Cognitive Behavioral Therapy for Psychosis (CBTp). She provides clinical services in the outpatient setting and the psychiatric inpatient setting.
</p>

<img src="images/peter.png" alt="">
<p>
    Peter Phalen, PsyD is a licensed Psychologist and Assistant Professor of Clinical Psychology at the University of Maryland School of Medicine. His research focuses mostly on suicide, psychosis, and community mental health. 
</p>


<img src="images/xian.png" alt="">
<p>
    Xian Zhang, PsyD is a clinical psychologist with training in serious mental illness via inpatient care, psychiatric emergency rooms, partial hospitalization programs, and consult/liaison teams in public hospitals in Denver, Colorado and New York City, New York. She is interested in improving trauma-informed inpatient care for marginalized populations who are navigating complex stressors and interpersonal dynamics, such as immigrant and BIPOC communities. She currently works in private practice in Seattle, Washington.
</p>