<div id="home-container">

    <div id="tagline">
        &ldquo;Transforming inpatient mental health care through the improvement and dissemination
        of evidence-based psychological interventions&rdquo;
    </div>

    <div id="divider">

    </div>

    <div id="what-is-ipcc">

        <h2>What is the IPCC?</h2>
    
        The Inpatient Psychological Care Collaborative (IPCC) is an organization of health care
        professionals, academics, researchers, community members, and individuals with lived
        experience dedicated to promoting the development and dissemination of evidence-based
        psychological services in inpatient psychiatric settings. Our organization aims to improve
        psychological care in this setting by:
        <ul style="padding-left: 14px;">
    
            <li>
                Maintaining an active member listserv for discussion and dissemination
                of inpatient psychological care
            </li>
    
            <li>
                Advocating alongside patients, caregivers, researchers, and health care providers
            </li>
    
            <li>
                Supporting programs of research focused on inpatient behavioral interventions
            </li>
    
            <li>
                Providing pro-bono consultation on research methodology for individuals conducting
                research or quality-improvement projects aimed at improving inpatient psychological
                care
            </li>
    
            <li>
                Compiling a list of instruments for the delivery of measurement-based
                care in the inpatient psychiatric setting
            </li>
    
        </ul>
    
        Learn more about our mission and values <a routerLink="/mission">here</a>.
    
    </div>
    
    
    <div id="who-is-invited">
    
        <h2>Can I join IPCC?</h2>    
    
        Anyone with an interest in psychological interventions in the inpatient setting is welcome to join. This includes,
        but is not limited to:
        <ul style="padding-left: 14px;">
            <li>Psychologists</li>
            <li>Psychiatrists</li>
            <li>Psychiatric nurses and nurse practitioners</li>
            <li>Social Workers</li>
            <li>Healthcare administrators and policymakers</li>
            <li>People with lived experience of inpatient psychiatric hospitalization</li>
            <li>People living with serious mental illness and their caregivers</li>
        </ul>
    </div>

    <div id="how-to-join">

        <h2>Join IPCC!</h2>

        <div id="how-to-join-content">

            <img id="enter-img" src="images/enter.svg" alt="">

            <div style="padding: 0 25px; max-width: 100%;">
                <p>
                    We're excited to have you withs us on this journey!
                </p>
                <p style="line-height: 27px;">
                    The best way to get involved with IPCC is to join our <a routerLink="/listserv">listserv</a>.
                    You can also  

                    @if (!mobile) {
                        send us an email at <a href="mailto:inpatientpsychologicalcare@gmail.com">InpatientPsychologicalCare&#64;gmail.com</a>
                    } @else {
                        <a href="mailto:inpatientpsychologicalcare@gmail.com">email us</a>
                    }
                    
                    with any questions.
                    
                    
                    
                </p>
            </div>
        </div>

        

    </div>

</div>