<div class="instruction">
  <span class="instruction-header">
    To subscribe to this list:
  </span>
  
  <span>
    Visit <a href="https://lists.uw.edu/postorius/lists/ipcc.lists.uw.edu/">https://lists.uw.edu/postorius/lists/ipcc.lists.uw.edu/</a>
  </span>
  
  <span style="display: block; margin: 10px 0;">- or -</span>
  
  <span>
    Email to <a href="mailto:ipcc-join@lists.uw.edu?subject=subscribe">ipcc-join&#64;lists.uw.edu</a> with 'subscribe'
    in the subject line, and follow further instructions sent to your email.
  </span>
</div>



<div class="instruction">
  <span class="instruction-header">
    To post to this list:
  </span>
  
  <span>
    Email <a href="mailto:ipcc@lists.uw.edu">ipcc&#64;lists.uw.edu</a> from your subscribed email address.
  </span>
</div>


<div class="instruction">
  <span class="instruction-header">
    To learn how to unsubscribe or make adjustments to your membership:
  </span>
  
  <span>
    Email <a href="mailto:ipcc-request@lists.uw.edu?subject=help">ipcc-request&#64;lists.uw.edu</a> with 'help' in the subject line.
    You will receive an email response with further instructions.
  </span>
</div>

<div class="instructions">
  <span class="instruction-header">
    Listserv Guidelines
  </span>
  <br>
  <span>...</span>
</div>