<div id="listserv-container">


  <div class="instruction">
    <span class="instruction-header">
      To subscribe to this list:
    </span>
    
    <span>
      Visit <a href="https://lists.uw.edu/postorius/lists/ipcc.lists.uw.edu/">https://lists.uw.edu/postorius/lists/ipcc.lists.uw.edu/</a>
    </span>
    
    <span style="display: block; margin: 10px 0;">- or -</span>
    
    <span>
      Email to <a href="mailto:ipcc-join@lists.uw.edu?subject=subscribe">ipcc-join&#64;lists.uw.edu</a> with 'subscribe'
      in the subject line, and follow further instructions sent to your email.
    </span>
  </div>
  
  
  
  <div class="instruction">
    <span class="instruction-header">
      To post to this list:
    </span>
    
    <span>
      Email <a href="mailto:ipcc@lists.uw.edu">ipcc&#64;lists.uw.edu</a> from your subscribed email address.
    </span>
  </div>
  
  
  <div class="instruction">
    <span class="instruction-header">
      To learn how to unsubscribe or make adjustments to your membership:
    </span>
    
    <span>
      Email <a href="mailto:ipcc-request@lists.uw.edu?subject=help">ipcc-request&#64;lists.uw.edu</a> with 'help' in the subject line.
      You will receive an email response with further instructions.
    </span>
  </div>
  
  <div class="instructions">
    <span class="instruction-header">
      Listserv Guidelines
    </span>
  
    <p>
      Welcome to our IPCC listserv! To ensure a productive and relational environment for all community members, please adhere to the following guidelines:
    </p>
  
    <ol>
      <li>
        <span class="rule-header">Encourage Collaboration:</span> Share ideas, resources, and feedback constructively,
        especially when it is beneficial for all members. When responding to others, aim to offer insight or build on 
        their thoughts rather than simply critique.
      </li>
      <li>
        <span class="rule-header">Foster Dialogue:</span> Engage in discussions while being open to other opinions and
        perspectives. It can be helpful to specify when information is based on personal observations, patient
        experiences, or research literature. 
      </li>
      <li>
        <span class="rule-header">Be Respectful:</span> Treat all members with kindness and respect. Please
        express differing opinions thoughtfully and without personal attacks.
      </li>
      <li>
        <span class="rule-header">Stay On Topic:</span> Please ensure your messages are relevant to IPCC's mission
        and values. If you have a topic that may be of interest to a specific individual but not the entire listserv,
        reach out to individuals privately. Similarly, contact individuals directly with products and services that
        you believe would help them, and avoid marketing products to the listserv. 
      </li>
      <li>
        <span class="rule-header">Respect Patient and Member Privacy:</span> Comply with the Health Insurance Portability
        and Accountability Act of 1996 (HIPAA) and applicable state and federal privacy laws. Do not share PHI. Do not
        share members' contact information or private conversations without consent. 
      </li>
      <li>
        <span class="rule-header">Additional Etiquette to Consider:</span> It is helpful to include your name and
        affiliation when posting. Specifying a topic in the subject line will encourage relevant responses. Send
        messages such as "thanks for posting" directly to the individual rather than the entire listserv. When you
        want to change or remove your listserv subscription, please follow the instructions on our website rather
        than emailing the listserv.
      </li>
      <li>
        <span class="rule-header">Moderation and Conflict Resolution:</span> If you see behavior that violates these guidelines, please
        report it to the list moderator by emailing (include contact information here). We aim to resolve conflicts
        amicably and maintain a supportive environment.
      </li>
    </ol>
    
  </div>



</div>